:root {
  --btn-link: darkcyan;
  --btn-cover: lightcyan;
  --headings: darkcyan;
  --feat-color: #fff;
  --feat-background: black;
}

body {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  background: lightcyan;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.main { 
  background: var(--btn-link);
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.design {
  background: white;
  width: 20px;
  height: 100px;
  opacity: 0.4;
  border-radius: 0 0 50% 50%;
}

  /* first section */

#photosnap {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  max-width: 1200px;
}

.first-div {
  background: black;
  color: white;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  /* margin-left: -2rem; */
}

.first-div p {
  padding-top: 1.5rem;
  font-weight: bold;
  font-size: 0.5rem;
}

.second-div {
  border: 1px black solid;
  border: none;
}

.second-div .snap {
  font-weight: bold;
  color: var(--btn-link);
  margin-left: -5rem;
  font-size: 0.7rem;
}

.second-div .new {
  background: var(--btn-link);
  color: white;
  font-weight: bold;
  border-radius: 30px;
  padding: 0.3rem 0.3rem;
  font-size: 0.5rem;
}


.second-div .tured {
  background: black;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.3rem;
  border-radius: 30px;
  font-size: 0.5rem;
}


.second-div p {
  margin-left: -1rem;
  font-weight: bold;
  color: lightslategray;
}

.second-div h1 {
  margin-left: -1.5rem;
  font-size: 1rem;
}

.last-div {
  display: flex;
  justify-content: flex-end;
}

.last-div span {
  padding-left: 2rem;
  font-weight: bold;
  color: var(--btn-link);
}

.last-div .stacks {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
}

.last-div .senior {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .html {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .css {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .java {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

/* Second Section */

#manage {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  max-width: 1200px;
}

.manage-div-1 {
  background: brown;
  color: white;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
   margin-left: -2rem;
  justify-content: center;
  align-items: center;
}

.manage-div-1 p {
  padding-top: 0.8rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.div-2 {
  margin-left: 3rem;
  padding: 1rem;
}

.div-2 .div-manage {
  font-weight: bold;
  color: var(--btn-link);
  margin-left: -10rem;
  font-size: 0.7rem;
}

.div-2 h1 {
  font-size: 1rem;
  margin-left: -12rem;
}

.div-2 .new {
  background: var(--btn-link);
  color: white;
  font-weight: bold;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  font-size: 0.5rem;
}


.div-2 .tured {
  background: black;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-size: 0.5rem;
  border-radius: 30px;
}


.div-2 p {
  margin-left: -7.5rem;
  font-weight: bold;
  color: lightslategray;
}

.div-2 .usa,
.time {
  margin-left: 0rem;
}

.last-div {
  display: flex;
  justify-content: flex-end;
}

.last-div span {
  padding-left: 2rem;
  font-weight: bold;
  color: var(--btn-link);
}

.last-div .stacks {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
}

.last-div .senior {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .html {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .css {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .java {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

/* Third Section */

#account {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  max-width: 1200px
}

.account-div-1 {
  background: purple;
  color: white;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  margin-left: -0.1rem;
}

.account-div-1 p {
  padding-top: 1.3rem;
  font-weight: bold;
  font-size: 0.6rem;
}

.div-3 {
  border: 1px black solid;
  margin-left: 3rem;
  padding: 1rem;
  border: none;
}

.div-3 .div-account {
  font-weight: bold;
  color: var(--btn-link);
  margin-left: -10rem;
  font-size: 0.7rem;
}

.div-3 .new {
  background: var(--btn-link);
  color: white;
  font-weight: bold;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  font-size: 0.5rem; 
}


.div-3 p {
  margin-left: -2.7rem;
  font-weight: bold;
  color: lightslategray;
}

.div-3 h1 {
  font-size: 1rem;
  margin-left: -4.5rem;
}

.div-3 .usa,
.time {
  margin-left: 0rem;
}

.last-div {
  display: flex;
  justify-content: flex-end;
}

.last-div span {
  padding-left: 2rem;
  font-weight: bold;
  color: var(--btn-link);
}

.last-div .stacks {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
}

.last-div .senior {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .html {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .css {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .java {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

/* fourth Section */

#home {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  height: 120px;
}

.home-div {
  background: darkcyan;
  color: white;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  margin-left: -2rem;
  margin-right: 1rem;
}

.home-div p {
  padding-top: 1.3rem;
  font-weight: bold;
  font-size: 0.6rem;
}

.div-4 {
  border: 1px black solid;
  margin-left: 3rem;
  padding: 1rem;
  border: none;
}

.div-4 .div-my {
  font-weight: bold;
  color: var(--btn-link);
  margin-left: -20rem;
}


.div-4 p {
  margin-left: -9rem;
  font-weight: bold;
  color: lightslategray;
}

.div-4 h1 {
  font-size: 1rem;
  margin-left: -12rem;
}

.second-div .usa,
.time {
  margin-left: 1rem;
}

.last-div {
  display: flex;
  justify-content: flex-end;
}

.last-div span {
  padding-left: 2rem;
  font-weight: bold;
  color: var(--btn-link);
}

.last-div .stacks {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
}

.last-div .senior {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .html {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .css {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .java {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

/* fifth Section */

#studio {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  max-width: 1200px;
}

.studio-div {
  background: brown;
  color: white;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  /* margin-left: -3rem; */
  margin-right: 3rem;
}

.studio-div p {
  padding-top: 0.7rem;
  font-weight: bold;
  font-size: 0.7rem;
}

.div-5 {
  border: 1px black solid;
  padding: 1rem;
  border: none;
}

.div-5 .div-loop {
  font-weight: bold;
  color: var(--btn-link);
  margin-left: -12rem;
}

.div-5 h1 {
  font-size: 1rem;
  margin-left: -10rem;
}


.div-5 p {
  margin-left: -3rem;
  font-weight: bold;
  color: lightslategray;
}

.div-5 .usa,
.time {
  margin-left: 0rem;
}

.last-div {
  display: flex;
  justify-content: flex-end;
}

.last-div span {
  padding-left: 2rem;
  font-weight: bold;
  color: var(--btn-link);
}

.last-div .stacks {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
}

.last-div .senior {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .html {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .css {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .java {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

/* Sixth Section */

#facelt {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  max-width: 1200px;
}

.face-div {
  background: lightblue;
  color: white;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
  margin-left: -4rem;
}

.face-div p {
  margin-top: 0.4rem;
  font-weight: bold;
  font-size: 1rem;
}

.face-div p img {
  height: 55px;
}

.div-6 {
  border: 1px black solid;
  padding: 1rem;
  border: none;
}

.div-6 .div-face {
  font-weight: bold;
  color: var(--btn-link);
  margin-left: -23rem;
}

.div-6 h1 {
  font-size: 1rem;
  margin-left: -14rem;
}

.div-6 p {
  margin-left: -12rem;
  font-weight: bold;
  color: lightslategray;
}

.div-6 .usa,
.time {
  margin-left: 0rem;
}

.last-div {
  display: flex;
  justify-content: flex-end;
}

.last-div span {
  padding-left: 2rem;
  font-weight: bold;
  color: var(--btn-link);
}

.last-div .stacks {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
}

.last-div .senior {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .html {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .css {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .java {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

/* Seventh Section */

#short {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  max-width: 1200px;
}

.short-div {
  background: lightskyblue;
  color: white;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  /* margin-left: -5rem; */
}

.short-div p {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.div-7 {
  border: 1px black solid;
  margin-left: -3rem;
  padding: 1rem;
  border: none;
}

.div-7 .div-short {
  font-weight: bold;
  color: var(--btn-link);
  margin-left: -8rem;
}

.div-7 p {
  margin-left: 2.7rem;
  font-weight: bold;
  color: lightslategray;
}

.div-7 h1 {
  font-size: 1rem;
  margin-left: -3.5rem;
}

.div-7 .usa,
.time {
  margin-left: 0rem;
}

.last-div {
  display: flex;
  justify-content: flex-end;
}

.last-div span {
  padding-left: 2rem;
  font-weight: bold;
  color: var(--btn-link);
}

.last-div .stacks {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
}

.last-div .senior {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .html {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .css {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .java {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

/* eigth Section */

#sure {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  max-width: 1200px;
}

.sure-div {
  background: lightcoral;
  color: white;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  margin-left: -1rem;
}

.sure-div p {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.div-8 {
  border: 1px black solid;
  /* margin-left: -23rem; */
  padding: 1rem;
  border: none;
}

.div-8 .div-insure {
  font-weight: bold;
  color: var(--btn-link);
  margin-left: -12rem;
}

.div-8 p {
  margin-left: -2.5rem;
  font-weight: bold;
  color: lightslategray;
}

.div-8 h1 {
  font-size: 1rem;
  margin-left: -3rem;
}

.second-div .usa,
.time {
  margin-left: 0rem;
}

.last-div {
  display: flex;
  justify-content: flex-end;
}

.last-div span {
  padding-left: 2rem;
  font-weight: bold;
  color: var(--btn-link);
}

.last-div .stacks {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
}

.last-div .senior {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .html {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .css {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .java {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

/* nineth Section */

#eyecam {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  max-width: 1200px;
}

.eye-div {
  background: lightseagreen;
  color: white;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
}

.eye-div p {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.div-9 {
  border: 1px black solid;
  /* margin-left: -23rem; */
  padding: 1rem;
  border: none;
}

.div-9 h1 {
  font-size: 1rem;
  margin-left: -6rem;
}

.div-9 .div-eye {
  font-weight: bold;
  color: var(--btn-link);
  margin-left: -9rem;
}


.div-9 p {
  margin-left: -2rem;
  font-weight: bold;
  color: lightslategray;
}

.div-9 .usa,
.time {
  margin-left: 1rem;
}

.last-div {
  display: flex;
  justify-content: flex-end;
}

.last-div span {
  padding-left: 2rem;
  font-weight: bold;
  color: var(--btn-link);
}

.last-div .stacks {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
}

.last-div .senior {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .html {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .css {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .java {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

/* tenth Section */

#air-filter {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  max-width: 1200px;
}

.air-div {
  background: seagreen;
  color: white;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  /* margin-left: -3rem; */
}

.air-div p {
  margin-top: 0.6rem;
  font-weight: bold;
  font-size: rem;
}

.air-div p img {
  height: 50px;
  color: white;
}

.div-10 {
  border: 1px black solid;
  /* margin-left: -23rem; */
  padding: 1rem;
  border: none;
}

.div-10 .div-air {
  font-weight: bold;
  color: var(--btn-link);
  margin-left: -6rem;
}

.div-10 h1 {
  font-size: 1rem;
  margin-left: -7rem;
}

.div-10 p {
  margin-left: -2.7rem;
  font-weight: bold;
  color: lightslategray;
}

.div-10 .usa,
.time {
  margin-left: 0rem;
}

.last-div {
  display: flex;
  justify-content: flex-end;
}

.last-div span {
  padding-left: 2rem;
  font-weight: bold;
  color: var(--btn-link);
}

.last-div .stacks {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
}

.last-div .senior {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .html {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .css {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.last-div .java {
  background: var(--btn-cover);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}


/* box-shadow */
section {
  box-shadow: 3px 3px 10px black;;
}
 
